{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quality Check</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="login-wrapper form-animation" style="color: white;opacity: 0">
    <h1>Arbitrium</h1>
    <form class="login-form" " method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            Change password
        </button>
    </form>
</div>
</body>
</html>
