@font-face {
    font-family: Elektra-Text-Pro;
    src: url("../fonts/Elektra-Text-Pro-Classic.otf") format("opentype");
}

body {
	font-family: Elektra-Text-Pro
}

.menu {
	align-items: center;
	width: 200px;
	background-color: #80BC00;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.logo {
	font-family: Elektra-Text-Pro;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 20px;
	width: 70%;
	color: white;
	font-size: 25px;
	text-align: center;
	padding-bottom: 4px;
	border-bottom: 3px solid white;
}

.menu-list {
	position: relative;
	margin-top: 30px;
	color: white;
	color: #FFFFFF;
	letter-spacing: 0.23px;
}

ul a {
	margin-top: 20px;
	list-style: none;
	text-decoration: none;
	color: white;
}
ul {
	display: flex;
	flex-direction: column;
}

a::before {
	content:"\A";
    width:10px;
    height:10px;
    border-radius:50%;
    background: white;
    opacity: 0.6;
    display:inline-block; 
    margin-right: 10px;
}

.active::before {
	opacity: 1;
}

.logo-image {
	position: absolute;
	bottom: 10px;
	max-height: 50px;
	width: 100%;
}

img {
	width: 100%
}


.inner {
	position: absolute;
	right: 0;
	top: 0;
	left: 200px;
	bottom: 0;
}

.strip {
	position: relative;
	left: 50%;
	margin-top: 5%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	width: 90%;
	height: 10%;
}

.header-block {
	display: flex;
	position: relative;
	width: 25%;
	margin-right: 12.5%;
	background: #0071CE;
	font-family: ElektraTextPro;
	font-size: 30px;
	color: #FFFFFF;
	letter-spacing: 0.23px;
	border-radius: 10px;
}

.header-block:last-child {
	margin-right: 0
}

.block-fl {
	position: absolute;
	top: 20%;
	left: 20px;
	width: 80%;
	height: 30%;
	font-size: 0.6em;
}
.block-sl {
	position: relative;
	top: 55%;
	left: 20px;
	right: 0;
	height: 30%;
	font-size: 0.6em;
	opacity: 0.3
}

.right-block {
	position: absolute;
    right: 0;
    width: 15%;
}

.header-long-block {
	width: 100%;
	display: block;
	background-color: #1A428A
}

.short-dist {
	margin-top: 2.5%;
}

.login-fields {
	display: flex;
	flex-direction: column;
}

.login-wrapper {
	padding: 20px 50px;
	background-color: #1A428A;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-wrapper h1 {
	color: white;
	text-align: center;
}

.login-form {
	display: flex;
	flex-direction: column;

}

input {
	margin: 10px;
	border: none;
	background-color: transparent;
	border-bottom: solid 1px white;
    color: white;
    font-size: 16px;
    font-family: Elektra-Text-Pro;

}
input:focus {
    outline: none;
}

.login-form button {
	width: auto;
	margin-top: 20px;
	font-size: 16px;
	border: none;
	background-color: transparent;
	color: white;
	font-weight: 600;
}
.login-form label {
    opacity: 0.5;
}

.add-form {
    padding: 20px 0;
    background-color: #1A428A;
	border-radius: 10px;
    color: white;
    height: auto;
}
.p-lr-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.form-animation {
	opacity: 1 !important;
	transition: opacity 1s ease-in-out;
}

.strip a::before {
	display: none;
}
.strip a {
	text-decoration: none;
}





