{% extends 'core.html' %}
{% load extras %}

{% block main %}
<div class="inner">
    <div class="strip">
        <div class="header-block">
            <div class="block-fl">
                {{ request.user.first_name }} {{ request.user.last_name }}
            </div>
            <div class="block-sl">
                {{ request.user.profile.status|to_status }}
            </div>
        </div>
         <div class="header-block">
                <div class="block-fl">
                    13th week
                </div>
                <div class="block-sl">
                    Spring semester, 2019
                </div>
            </div>
        <div class="header-block">
            <div class="block-fl">
                {{ courses|length }} courses
            </div>
            <div class="block-sl">
                {% if request.user.profile.status == '7' %}
                    Teaching
                {% else %}
                    Studying
                {% endif %}
            </div>
        </div>
    </div>
    <form class="login-form strip add-form" action="{% url 'add_member' %} " method="post">
        {% csrf_token %}
        <div class="login-fields p-lr-40">
            <label for="email">E-mail</label>
            <input type="text" name="email" id="email"/>
            <label for="first_name">First name</label>
            <input type="text" name="first_name" id="first_name"/>
            <label for="second_name">Second name</label>
            <input type="text" name="second_name" id="second_name"/>
            <label for="last_name">Last name</label>
            <input type="text" name="last_name" id="last_name"/>
            <label for="status">Status</label>
            <select id="status" name="status"
                    onchange="check_status()">
                <option disabled>Выберите тип т/с</option>
                <option value="0" selected>Department of Education</option>
                <option value="1">Bachelor, 1st year</option>
                <option value="2">Bachelor, 2nd year</option>
                <option value="3">Bachelor, 3rd year</option>
                <option value="4">Bachelor, 4th year</option>
                <option value="5">Master, 1st year</option>
                <option value="6">Master, 2nd year</option>
                <option value="7">Professor</option>
            </select>
            <button type="submit">
                Register
            </button>
        </div>
    </form>
</div>
{% endblock %}