{% extends 'core.html' %}
{% load extras %}

{% block main %}
<div class="inner">
    <div class="strip">
        <div class="header-block">
            <div class="block-fl">
                {{ request.user.first_name }} {{ request.user.last_name }}
            </div>
            <div class="block-sl">
                {{ request.user.profile.status|to_status }}
            </div>
        </div>
        <div class="header-block">
            <div class="block-fl">
                99.7%
            </div>
            <div class="block-sl">
                Feedback
            </div>
        </div>
        <div class="header-block">
            <div class="block-fl">
                {{ courses|length }} courses
            </div>
            <div class="block-sl">
                {% if '7' in request.user.profile.status %}
                    Teaching
                {% else %}
                    Studying
                {% endif %}
            </div>
        </div>
    </div>
    <form class="login-form strip add-form" action="{% url 'add_course' %} " method="post">
        {% csrf_token %}
        <div class="login-fields p-lr-40">
            <label for="email">Name</label>
            <input type="text" name="name" id="name"/>
            <label for="email">Audience</label>
            <input type="text" name="audience" id="audience"/>
            <label for="email">Professor</label>
            <select id="professor" name="professor">
                {% for prof in professors %}
                    <option value="{{ prof.id }}">{{ prof.first_name }} {{ prof.last_name }}</option>
                {% endfor %}
            </select>
            <button type="submit">
                Add
            </button>
            <label for="email">{{ error }}</label>
        </div>
    </form>
</div>
{% endblock %}