{% extends 'core.html' %}
{% load extras %}

{% block main %}
<div class="inner">
    <div class="strip">
        <div class="header-block">
            <div class="block-fl">
                {{ request.user.first_name }} {{ request.user.last_name }}
            </div>
            <div class="block-sl">
                {{ request.user.profile.status|to_status }}
            </div>
        </div>
         <div class="header-block">
                <div class="block-fl">
                    13th week
                </div>
                <div class="block-sl">
                    Spring semester, 2019
                </div>
            </div>
        <div class="header-block">
            <div class="block-fl">
                {{ courses|length }} courses
            </div>
            <div class="block-sl">
                {% if '7' in request.user.profile.status %}
                    Teaching
                {% else %}
                    Studying
                {% endif %}
            </div>
        </div>
    </div>
    <form class="login-form strip add-form" action="{% url 'add_template' %} " method="post">
        {% csrf_token %}
        <div class="login-fields p-lr-40">
            <label for="email">Name</label>
            <input type="text" name="name" id="name"/>
            <label for="email">Data</label>
            <input type="text" name="data" id="data"/>
            <button type="submit">
                Add
            </button>
        </div>
    </form>
</div>
{% endblock %}