{% extends 'core.html' %}
{% load extras %}

{% block main %}
    <div class="inner">
        <div class="strip">
            <div class="header-block">
                <div class="block-fl">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </div>
                <div class="block-sl">
                    {{ request.user.profile.status|to_status }}
                </div>
            </div>
            <div class="header-block">
                <div class="block-fl">
                    13th week
                </div>
                <div class="block-sl">
                    Spring semester, 2019
                </div>
            </div>
            <div class="header-block">
                <div class="block-fl">
                    {{ courses|length }} courses
                </div>
                <div class="block-sl">
                    {% if '7' in request.user.profile.status %}
                        Teaching
                    {% else %}
                        Studying
                    {% endif %}
                </div>
            </div>
        </div>
        <form class="login-form strip add-form" method="post">
            {% csrf_token %}
            <div class="login-fields p-lr-40">
                <label for="course">Course</label>
                <select id="course" name="course"
                        onchange="check_status()">
                    {% for course in courses %}
                        <option value={{ course.id }}>{{ course.name }}</option>
                    {% endfor %}
                </select>
                <label for="template">Template ID</label>
                <select id="template" name="template"
                        onchange="check_status()">
                    {% for template in templates %}
                        <option value={{ template.id }}>{{ template.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">
                    Assign
                </button>
            </div>
        </form>
    </div>
{% endblock %}