{% load extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arbitrium</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
</head>
<body>
<div id="nav">
    <nav class="menu">
        <div class="logo">
            Arbitrium
        </div>
        <ul class="menu-list">
            <a class="active" href="/courses">My courses</a>
            {% if request.user.profile.status == '0' %}
                <a class="active" href="/add_member">Add member</a>
                <a class="active" href="/add_course">Add course</a>
                <a class="active" href="/add_template">Add template</a>
            {% endif %}
            {% if request.user.profile.status == '7' %}
                <a class="active" href="/assign_template_to_course">Assign template to course</a>
            {% endif %}
            <a class="active" href="/logout">Log out</a>
        </ul>
        <div class="logo-image">
            <img src="/static/img/IU_logo_RGB_3.png">
        </div>
    </nav>
</div>
{% block main %}
{% endblock %}
</body>
</html>