{% extends 'core.html' %}
{% load extras %}

{% block main %}
<div class="inner">
    <div class="strip">
        <div class="header-block">
            <div class="block-fl">
                {{ request.user.first_name }} {{ request.user.last_name }}
            </div>
            <div class="block-sl">
                {{ request.user.profile.status|to_status }}
            </div>
        </div>
         <div class="header-block">
                <div class="block-fl">
                    13th week
                </div>
                <div class="block-sl">
                    Spring semester, 2019
                </div>
            </div>
        <div class="header-block">
            <div class="block-fl">
                {{ courses|length }} courses
            </div>
            <div class="block-sl">
                {% if request.user.profile.status == '7' %}
                    Teaching
                {% else %}
                    Studying
                {% endif %}
            </div>
        </div>
    </div>
    {% for course in courses %}
        <div class="strip short-dist">
            <a  href="{% url 'course_details' course.id %}" class="header-block header-long-block">
                <div class="block-fl">
                    {{ course.name }}
                </div>
                <div class="block-sl">
                    {{ course.audience|to_status }}
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}