{% extends 'core.html' %}
{% load extras %}

{% block main %}
    <div class="inner">
        <div class="strip">
            <div class="header-block">
                <div class="block-fl">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </div>
                <div class="block-sl">
                    {{ request.user.profile.status|to_status }}
                </div>
            </div>

        </div>
        <div class="strip short-dist">
            <a class="header-block header-long-block">
                <div class="block-fl">
                    {{ feedback.course.name }}
                </div>
                <div class="block-sl">
                    Submitted by {{ feedback.user.first_name }} {{ feedback.user.last_name }}
                </div>
            </a>
        </div>
        {% for key, value in chars.items %}
            <div class="strip short-dist">
                <a class="header-block header-long-block">
                    <div class="block-fl">
                        {{ key }}
                    </div>
                </a>
                <a class="header-block header-long-block">
                    <div class="block-fl">
                        {{ value }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}