{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quality Check</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="login-wrapper form-animation" style="opacity: 0">
    <h1>Arbitrium</h1>
    <form class="login-form" action="{% url 'login' %} " method="post">
        {% csrf_token %}
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <button type="submit">
            Log in
        </button>
        <br>
        <a href="/password-reset" style="color:white; text-decoration: none">Forgot your password</a>
    </form>
</div>
</body>
</html>
