{% extends 'core.html' %}
{% load extras %}

{% block main %}
    <div class="inner">
        <div class="strip">
            <div class="header-block">
                <div class="block-fl">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </div>
                <div class="block-sl">
                    {{ request.user.profile.status|to_status }}
                </div>
            </div>

        </div>
        <div class="strip short-dist">
            <a class="header-block header-long-block">
                <div class="block-fl">
                    {{ user.first_name }} {{ user.last_name }}
                </div>
                <div class="block-sl">
                    {{ user.profile.status|to_status }}
                </div>
            </a>
        </div>
        <div class="strip short-dist">
            {% for form in forms %}
                <a href="{% url 'feedback' form.id %}" class="header-block header-long-block">
                    <div class="block-fl">
                        {{ form.course.name }}
                    </div>
                    <div class="block-sl">
                        Далее
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}