{% extends 'core.html' %}
{% load extras %}

{% block main %}
<div class="inner">
    <div class="strip">
        <div class="header-block">
            <div class="block-fl">
                {{ request.user.first_name }} {{ request.user.last_name }}
            </div>
            <div class="block-sl">
                {{ request.user.profile.status|to_status }}
            </div>
        </div>
        <div class="header-block">
            <div class="block-fl">
                {{ users|length }}
            </div>
            <div class="block-sl">
                users found
            </div>
        </div>
        <div class="header-block">


        </div>
    </div>
    {% for user in users %}
        <div class="strip short-dist">
            <a href="{% url 'user' user.id %}" class="header-block header-long-block">
                <div class="block-fl">
                    {{ user.first_name }} {{ user.last_name }}
                </div>
                <div class="block-sl">
                    {{ user.profile.status|to_status }}
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}